@charset "UTF-8";
body {
  font-family: "BebasNeueRegular", sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white; }

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

header {
  background: url("../img/fon.png") no-repeat top center/cover;
  height: 668px;
  min-width: 1112px; }

.container {
  width: 1112px;
  margin: 0 auto; }

.header-left {
  width: 250px;
  float: left;
  display: inline-block; }

.header-left a {
  display: inline-block;
  float: left;
  padding-top: 23px; }

#city {
  display: inline-block;
  padding-top: 21px;
  margin-left: 19px;
  color: #d12f22;
  font-size: 32px; }

#street {
  display: inline-block;
  padding-top: 1px;
  margin-left: 19px;
  font-size: 22px;
  text-decoration: underline; }

.header-center {
  display: inline-block;
  margin-left: 180px; }

.header-right {
  float: right;
  margin-left: 10px;
  display: inline-block; }

#red {
  color: #d12f22;
  font-size: 32px; }

#phone {
  font-size: 32px;
  display: inline-block;
  margin-top: 21px; }

.zacaz {
  display: inline-block;
  padding-top: 1px;
  font-size: 22px;
  text-decoration: underline;
  color: white; }

h1, h2 {
  margin: 0 0;
  padding: 0 0;
  font-size: 36px;
  font-weight: 100;
  text-align: center; }

.botton_red {
  display: inline-block;
  height: 50px;
  background-color: #d12f22;
  text-decoration: none;
  color: white;
  padding: 0 25px;
  font-size: 20px;
  line-height: 50px;
  border-bottom: 3px solid #ac160a;
  vertical-align: middle;
  margin-left: 25px;
  font-weight: bold; }

.st_botton {
  line-height: 18px;
  text-align: left;
  padding-left: 65px;
  padding-top: 7px;
  height: 43px;
  background-image: url("../img/foto.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  margin-left: 96px; }

.buttons_top {
  margin-top: 366px;
  margin-bottom: 33px; }

.up_menu {
  height: 70px;
  background-color: #242424;
  min-width: 1112px;
  margin: 0 auto;
  border-bottom: 1px solid #3a3a3a; }

.upper {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none; }

.upper li {
  float: left;
  margin: 0 0;
  padding: 0 0; }

.upper a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 100;
  padding: 0 26px 0 56px;
  border-left: 1px solid #3a3a3a;
  line-height: 71px;
  margin: 0 0; }

#a1,
.upper a:hover {
  background-color: #050505; }

#a1 {
  background-image: url("../img/spritesheet1.png");
  background-repeat: no-repeat;
  background-position: 0px 2px; }

#a2 {
  background-image: url("../img/spritesheet1.png");
  background-repeat: no-repeat;
  background-position: 0px -57px; }

#a3 {
  background-image: url("../img/spritesheet1.png");
  background-repeat: no-repeat;
  background-position: 5px -115px; }

#a4 {
  background-image: url("../img/spritesheet1.png");
  background-repeat: no-repeat;
  background-position: 0px -175px; }

#a5 {
  background-image: url("../img/spritesheet1.png");
  background-repeat: no-repeat;
  background-position: 0px -232px; }

#a6 {
  background-image: url("../img/spritesheet1.png");
  background-repeat: no-repeat;
  background-position: 0px -295px; }

#a7 {
  display: inline-block;
  border: 3px solid white;
  border-radius: 3px;
  margin-left: 72px;
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 3px; }

.sp1 {
  float: left;
  padding-top: 5px;
  padding-left: 10px; }

#sp1 {
  font-size: 30px;
  font-weight: bold; }

.sp2 {
  float: right;
  text-align: left;
  margin-left: 5px;
  font-size: 16px;
  line-height: 16px;
  padding-right: 5px; }

.middle_menu {
  height: 610px;
  background-color: #191919;
  min-width: 1112px;
  margin: 0 auto; }

#sp2 {
  color: #d12f22; }

.h2_1 {
  padding-top: 70px;
  position: relative; }

.h2_1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url("../img/left.png");
  margin-top: 10px;
  margin-left: -68px; }

.h2_1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url("../img/right.png");
  margin-top: 10px;
  margin-left: 18px; }

nav {
  width: 100%;
  height: 172px;
  margin-top: 70px; }

.nav {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none; }

.nav li {
  float: left;
  margin: 0 0;
  padding: 0 0; }

.nav a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin: 0 0;
  width: 165px;
  height: 29px;
  border: 1px solid #353535;
  border-bottom: 26px solid #212121;
  text-align: center;
  margin-left: 22px;
  padding-top: 115px;
  background-image: url("../img/spritуnav.png");
  background-repeat: no-repeat; }

.nav a:hover {
  background-color: #2a2a2a;
  border-bottom: 26px solid #353535;
  text-decoration: underline; }

#a8 {
  margin-left: 0;
  background-position: 5px -10px; }

#a9 {
  background-position: 10px -145px; }

#a10 {
  background-position: -5px -260px; }

#a11 {
  background-position: 15px -375px; }

#a12 {
  background-position: 15px -503px; }

#a13 {
  background-position: 5px -630px; }

.nav1 {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none; }

.nav1 li {
  float: left;
  margin: 0 0;
  padding: 0 0;
  margin-left: 22px; }

.nav1 li:first-child {
  margin-left: 0; }

.kv {
  height: 140px;
  width: 165px;
  background-color: #191919;
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;
  border-top: 1px solid #353535; }

.kv a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin: 0 0;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 10px;
  background-image: url("../img/spritуnav.png");
  background-repeat: no-repeat; }

.niz {
  position: relative;
  height: 25px;
  width: 165px;
  background-color: #212121;
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  background-image: url("../img/red.png");
  background-repeat: no-repeat;
  background-position: center center; }

.bigkv:hover .niz,
.active .niz {
  background-color: #353535;
  background-image: url("../img/white.png"); }

.bigkv:hover a,
.active a {
  text-decoration: underline;
  background-color: #212121; }

.slidem {
  position: relative;
  height: 98px;
  width: 100%;
  background-color: #353535;
  margin-top: 23px; }

.slidem ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%; }

.slidem ul li {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
  float: left; }

.slidem ul li a {
  color: white;
  font-size: 20px;
  background-color: #353535;
  text-decoration: none; }

.slidem ul li:first-child {
  margin-left: 32px; }

.slidem ul li:nth-child(8) {
  margin-left: 92px; }

.slidem ul li a:hover {
  text-decoration: underline; }

.botton_red1 {
  margin-top: 40px;
  margin-left: 450px;
  padding-left: 50px;
  padding-right: 50px; }

.slidem::after {
  content: "";
  position: absolute;
  background: url("../img/up.png") no-repeat;
  width: 22px;
  height: 22px;
  top: -11px;
  left: 75px; }

.center_menu {
  height: 172px;
  background-color: #e9e9e9;
  min-width: 1112px;
  margin: 0 auto; }

.h2_2 {
  color: black;
  padding-top: 42px;
  position: relative; }

.h2_2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url("../img/left1.png");
  margin-top: 10px;
  margin-left: -60px; }

.h2_2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url("../img/right1.png");
  margin-top: 10px;
  margin-left: 8px; }

#sp3 {
  font-family: "Roboto";
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 29px; }

.center_menu_1 {
  height: 932px;
  background-color: #d6d6d6;
  min-width: 1112px;
  margin: 0 auto; }

.nav2 {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 902px;
  width: 1112px; }

.nav2 li {
  margin: 0 0;
  padding: 0 0;
  float: left; }

.nav2 a {
  text-decoration: none;
  color: black;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 139px;
  width: 350px;
  text-align: center;
  text-indent: 20px;
  border-top: 8px solid #ac160a;
  background-image: url("../img/spritenav2.png");
  background-repeat: no-repeat;
  background-position: -100px -100px;
  padding-top: 261px;
  margin-top: 42px; }

.nav2 li:nth-child(2),
.nav2 li:nth-child(5) {
  margin-left: 28px;
  margin-right: 28px; }

#a15 {
  background-position: -100px -533px; }

#a16 {
  background-position: -100px -967px; }

#a17 {
  background-position: -100px -1400px; }

#a18 {
  background-position: -100px -1834px; }

#a19 {
  background-position: -100px -2267px; }

.center_menu_2 {
  height: 384px;
  background-color: white;
  min-width: 1112px;
  margin: 0 auto; }

.down_page {
  color: black; }

.down_left {
  float: left; }

h3 {
  font-size: 36px;
  margin: 40px 0 0 8px; }

#img1 {
  margin-top: 57px; }

.botton_red2 {
  padding: 0;
  margin: 35px 0 0 0;
  height: 15px;
  padding: 15px 29px 11px 26px;
  line-height: 15px;
  float: right; }

.down_right_down {
  width: 730px;
  height: 240px;
  position: absolute;
  margin-top: 120px;
  margin-left: 380px; }

.down_right p {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold; }

#p1 {
  margin-top: 30px; }

footer {
  height: 96px;
  background-color: #2a2a2a;
  min-width: 1112px;
  margin: 0 auto; }

.footer_left {
  float: left; }

#h31 {
  font-size: 20px;
  margin: 0;
  padding: 28px 0 0 0; }

.footer_menu {
  margin: 0;
  list-style-type: none; }

.footer_menu li {
  display: inline-block; }

.footer_menu a {
  display: inline-block;
  font-size: 20px;
  color: white;
  margin-left: 30px;
  margin-top: 30px;
  text-decoration: none; }

.footer_menu a:hover {
  text-decoration: underline; }

.footer_menu li:first-child {
  margin-left: 132px; }
