.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000; }

p,
h2,
h3 {
  padding: 0;
  margin: 0; }

header,
footer {
  min-width: 1440px; }

h3 {
  font-size: 28px; }

.baner {
  height: 140px;
  background-image: url("../img/baner_bg2.jpg");
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3); }

.container {
  display: block;
  margin: 0 auto;
  width: 1440px; }

.container_1 {
  display: block;
  margin: 0 auto;
  width: 1070px; }

.baner_img {
  margin-top: 30px;
  margin-left: 300px; }

nav {
  height: 90px;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3); }

.header_logo {
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-top: 28px; }

.main_menu,
.info_menu {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.main_menu li {
  display: inline-block;
  padding-left: 16px;
  margin-right: 16px;
  margin-top: 35px; }

.main_menu li:first-child {
  margin-left: 26px; }

.main_menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #000; }

.img_nav {
  margin-right: 10px; }

.social {
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 27px;
  margin-right: 28px; }

.social li {
  display: inline-block;
  padding: 0;
  margin: 0; }

.social li a {
  display: block;
  height: 33px;
  width: 33px;
  border: 1px solid #d1d1d1;
  margin-right: 12px; }

.header_info {
  height: 50px;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3); }

.search_logo {
  float: left;
  display: inline-block;
  margin-left: 30px;
  margin-top: 17px;
  height: 20px;
  width: 20px; }

.info_menu li {
  display: inline-block;
  margin-top: 16px;
  margin-left: 32px; }

.info_menu li a {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #660080; }

.info_birja {
  float: left;
  display: inline-block;
  margin-left: 35px;
  margin-top: 14px; }

.info_birja_1 {
  float: left;
  display: inline-block;
  margin-top: 15px; }

.coin_name {
  font-size: 18px;
  display: inline-block;
  margin-left: 8px; }

.coin_name span {
  font-weight: bold; }

.info_birja_2 {
  margin-left: 15px; }

.main_left {
  float: left;
  width: 695px; }

.nav_main {
  margin-top: 40px; }

.nav_main ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 14px; }

.nav_main ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 14px; }

.nav_main ul li:first-child {
  margin-left: 0; }

.nav_main ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #660080; }

.nav_main ul li a span {
  margin-left: 14px;
  color: #b7b7b7; }

#nav_main_last_span1 {
  margin-left: 0;
  color: #b7b7b7; }

.info_main {
  margin-top: 40px; }

.btn_min {
  display: inline-block;
  background-color: #660080;
  height: 28px;
  width: 88px;
  color: #fff;
  text-decoration: none;
  line-height: 28px;
  text-align: center; }

.img_calender {
  display: inline-block;
  margin-left: 18px; }

.span_calendar {
  margin-left: 10px; }

article {
  margin-top: 40px; }

.article_h2 {
  font-size: 46px;
  font-weight: 100; }

.social_btn {
  margin-top: 40px;
  padding-bottom: 23px; }

.btn_max {
  display: inline-block;
  background-color: #660080;
  height: 38px;
  width: 218px;
  color: #fff;
  text-decoration: none;
  line-height: 38px;
  text-align: center; }

.btn_max_2 {
  background-color: #5862b3;
  margin-left: 16px; }

.btn_max_3 {
  background-color: #677aa0;
  margin-left: 16px; }

.p_article {
  margin: 35px 30px 0 21px;
  font-size: 18px; }

.quote {
  height: 148px;
  width: 696px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  margin-top: 38px;
  position: relative; }

.img_quote {
  position: relative;
  top: -14px;
  left: 20px; }

.p_article_1 {
  font-size: 18px;
  margin: 18px 35px 35px 36px; }

.p_article_1_span {
  font-weight: bold; }

.btn_min_1 {
  margin-left: 9px; }

.btn_min_2 {
  width: 52px; }

.tegi_btn {
  margin-top: 40px;
  margin-left: 21px; }

.similar_main {
  margin-top: 57px; }

.similar_main_h3 {
  margin-bottom: 35px; }

.samilar_img {
  position: relative;
  top: 7px; }

.similar_a {
  text-decoration: none;
  font-size: 18px;
  color: #69c5db; }

.similar_main_1 {
  margin-top: 17px;
  position: relative; }

.comment {
  margin-top: 54px; }

.comment_cont {
  height: 325px;
  width: 700px;
  border: 1px solid #dedede;
  border-bottom: 0; }

.comment_cont_up {
  margin-top: 35px;
  margin-left: 35px; }

.comment_a_1 {
  text-decoration: none;
  font-size: 16px;
  color: #69c5db; }

.comment_img_1 {
  position: relative;
  top: 3px;
  margin-right: 5px; }

textarea {
  margin-left: 40px;
  margin-top: 35px;
  font-size: 20px; }

.submit_btn {
  height: 38px;
  width: 150px;
  line-height: 38px;
  font-size: 18px;
  background-color: #660080;
  color: #fff;
  border: 0;
  font-weight: 100;
  margin-top: 20px;
  margin-left: 40px;
  cursor: pointer; }

.comment_user {
  height: 150px;
  width: 700px;
  border: 1px solid #dedede; }

.comment_user_img {
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 35px; }

.comment_user_main {
  display: inline-block;
  float: left;
  margin-left: 10px;
  width: 580px; }

.comment_span_name {
  display: inline-block;
  color: #69c5db;
  margin-top: 12px; }

.comment_span_date {
  display: inline-block;
  margin-left: 380px;
  color: #a6a6a6; }

.comment_span_text {
  margin-top: 18px; }

.comment_a_2 {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #69c5db;
  margin-top: 18px; }

.img_send {
  position: relative;
  top: 5px;
  margin-right: 6px; }

.more_comment_btn {
  margin-top: 18px;
  display: block;
  background-color: #08a1c7;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  width: 702px;
  height: 55px;
  line-height: 55px;
  text-align: center; }

.img_plus {
  position: relative;
  top: 2px;
  margin-right: 5px; }

.down {
  margin-top: 18px;
  padding-bottom: 15px; }

.news {
  display: inline-block;
  margin: 0;
  padding: 0; }

.news_1 {
  margin-left: 9px; }

.main_right {
  float: right; }

.news_2 {
  display: block;
  margin-top: 17px; }

footer {
  height: 90px;
  box-shadow: 0px -1px 1px 0px rgba(50, 50, 50, 0.3); }

.footer_menu li a {
  color: #08a1c7;
  font-size: 16px; }
