.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

body {
  margin: 0;
  padding: 0; }

.nav1 {
  display: none; }

.header,
.nav {
  border-bottom: 1px solid #E9ECEF;
  min-width: 1280px;
  margin: 0 auto; }

.nav {
  height: 45px; }

.container {
  background-color: #FFF;
  width: 1280px;
  margin: 0 auto; }

.logo {
  float: left;
  display: inline-block;
  margin: 25px 0px 16.62px 24.6px;
  text-decoration: none;
  padding: 0; }

.img_logo {
  width: 173.9px;
  height: 24.4px; }

.button {
  font-family: "HelveticaNeue", sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  vertical-align: middle;
  text-align: center; }

.btn_newmeeting {
  float: right;
  height: 36px;
  width: 140px;
  background-color: #007DFF;
  border-radius: 4px;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 36px;
  margin: 18px 24px 0 0; }

.btn_newmeeting:hover {
  background-color: #0059FF; }

.btn_newmeeting:active {
  background-color: rgba(11, 0, 255, 0.8); }

.calendar_left,
.calendar_right {
  height: 45px;
  width: 245px;
  background-color: #FFF; }

.calendar_left {
  float: left; }

.btn_cal {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: #E9ECEF;
  border-radius: 100px;
  text-decoration: none;
  margin: 11px 0 11px 24px; }

.a_calendar {
  display: inline-block;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
  margin-left: 9.5px;
  position: relative;
  top: -6px; }

.btn_right {
  margin-left: 9.5px; }

.calendar_right {
  display: inline-block;
  height: auto;
  width: auto;
  margin-top: 16px; }

.time {
  display: inline-block;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.4px;
  width: 49px;
  height: 13px;
  margin: 0px 13.4px 0px 17px; }

.tm_2 {
  margin-left: 0; }

.tm_3 {
  margin-left: 0;
  margin-right: 0;
  width: auto; }

.rooms_left {
  float: left;
  height: 600px;
  width: 245px;
  background-color: #fff; }

.list {
  font-family: "HelveticaNeue", sans-serif;
  margin-left: 25px; }

.floor {
  font-weight: bold;
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
  margin-top: 21px; }
  .floor__second {
    margin-top: 24px; }

.floor_active {
  color: #0070E0; }

.room {
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  margin-top: 8px;
  color: #000; }
  .room__busy {
    color: #858E98; }

.room__second {
  margin-top: 16px; }

.quantity {
  margin-top: 2px;
  font-size: 13px;
  color: #000;
  line-height: 17px; }
  .quantity__busy {
    color: #858E98; }

.rooms_right {
  display: inline-block; }

.table_main {
  border-collapse: collapse; }

.table_main .td_simple {
  background-color: #F6F7F9;
  height: 44.5px;
  width: 62px; }

.table_main .td_all {
  border-left: 1px solid rgba(19, 100, 205, 0.1);
  border-right: 1px solid rgba(19, 100, 205, 0.1); }

.table_main .td_tall {
  height: 44.5px; }

.table_main .td_low {
  height: 22px; }

.table_main .td_middle {
  height: 26px; }

.table_main .td_busy {
  background-color: #D5DFE9;
  width: 62px; }

.table_main .td_busy:hover {
  background-color: #99A9B9; }

.table_mobile .td_busy:hover {
  background-color: #99A9B9; }

.table_main .td_busy_1 {
  background-color: #99A9B9; }

.table_main .td_free {
  background-color: #fff;
  width: 62px; }

.table_main .td_free:hover {
  background: #1D54FE;
  border-radius: 2px;
  background-image: url("../img/edit.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 25px 8px; }

.table_mobile .td_free:hover {
  background: #1D54FE;
  border-radius: 2px;
  background-image: url("../img/edit.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 22px 23px; }

.table_main .td_free:active {
  background: #1D00FE;
  border-radius: 2px;
  background-image: url("../img/edit_active.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 25px 8px; }

.table_mobile .td_free:active {
  background: #1D00FE;
  border-radius: 2px;
  background-image: url("../img/edit_active.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 22px 23px; }

.table_main .td_first {
  width: 28.5px; }

.table_main .td_last {
  width: 23px; }

.table_main .td_very_tall {
  height: 87px; }

.info {
  display: none;
  position: relative;
  top: -423px;
  left: 350px;
  height: 113px;
  width: 338px;
  background: #FFF;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px; }
  .info__img {
    height: 8px;
    position: relative;
    top: -102px;
    left: 163px; }
  .info__top__name {
    font-family: "HelveticaNeue", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 16px;
    padding-top: 12px;
    float: left; }
  .info__top__logo__a {
    display: block;
    height: 24px;
    width: 24px;
    text-decoration: none;
    float: right;
    background: #E9ECEF;
    border-radius: 100px;
    margin-right: 8px;
    margin-top: 5px; }
  .info__middle__info {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 13px;
    color: #000;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 16px;
    margin-top: 2px; }
  .info__bottom {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 13px;
    color: #000;
    letter-spacing: 0;
    line-height: 17px;
    margin-top: 16px;
    margin-left: 48px;
    position: relative; }
    .info__bottom__span {
      color: #858E98; }

.info__bottom::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -3px;
  height: 24px;
  width: 24px;
  background-image: url("../img/sprite_ava.png");
  background-position: -5px -5px; }

.info__bottom::after {
  content: "";
  position: relative;
  left: 50px;
  top: 500px;
  height: 240px;
  width: 240px;
  background-image: url("../img/up.png"); }

.room_hover {
  color: #0070E0; }

.input_date {
  width: 120px;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 15px;
  border: 0;
  margin-left: 9.5px;
  position: relative;
  top: -6px; }

.nav2 {
  display: none; }
